---
---

@import "minima";

.post-list > li {
    height: 150px;
}

.img-block {
    width: 20%;
    height: inherit;
    margin-right: 5%;
    float: left;
}

.img-block > img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 3px grey;
}

.tag-block {
    display: flex;
}

.tag-block > div {
    background-color: #bfe6f0;
    padding: 5px 20px;
    border-radius: 2px;
    margin-right: 10px;
}

.post-text-block {
    width: 75%;
    height: auto;
    float: right;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

img + em {
    display: block;
    margin: 10px 0px;
    text-align: center;
}